<div class="dark:bg-gray-900 dark:text-white h-full">
  <div class="container max-w-7xl mx-auto h-full">
    <!-- Outer Grid -->
    <div class="grid grid-cols-24 gap-4 h-full">
      <!-- Outer Grid: Left Side -->
      <div class="col-span-5 hidden sm:block">
        <!-- Left Sidebar -->
        <div class="px-5 pt-5">
          <!-- Left Sidebar: Logo -->
          <div class="logo">
            <div class="w-6 h-6 bg-blue-700"></div>
          </div>
          <!-- Left Sidebar: Navigation -->
          <div class="mt-8 flex flex-col space-y-7 text-xl font-bold">
            <!-- Left Sidebar: Link -->
            <div class="flex">
              <div class="mr-6 w-6 h-6 bg-blue-400"></div>
              <a routerLink="/home">Home</a>
            </div>
            <!-- Left Sidebar: Link -->
            <div class="flex">
              <div class="mr-6 w-6 h-6 bg-blue-400"></div>
              <a routerLink="/explore">Explore</a>
            </div>
            <!-- Left Sidebar: Link -->
            <div class="flex">
              <div class="mr-6 w-6 h-6 bg-blue-400"></div>
              <a routerLink="/notifications">Notifications</a>
            </div>
            <!-- Left Sidebar: Link -->
            <div class="flex">
              <div class="mr-6 w-6 h-6 bg-blue-400"></div>
              <a routerLink="/messages">Messages</a>
            </div>
            <!-- Left Sidebar: Link -->
            <div class="flex">
              <div class="mr-6 w-6 h-6 bg-blue-400"></div>
              <a routerLink="/bookmarks">Bookmarks</a>
            </div>
            <!-- Left Sidebar: Link -->
            <div class="flex">
              <div class="mr-6 w-6 h-6 bg-blue-400"></div>
              <a routerLink="/list">List</a>
            </div>
            <!-- Left Sidebar: Link -->
            <div class="flex">
              <div class="mr-6 w-6 h-6 bg-blue-400"></div>
              <a routerLink="/profile">Profile</a>
            </div>
            <!-- Left Sidebar: Link -->
            <div class="flex">
              <div class="mr-6 w-6 h-6 bg-blue-400"></div>
              <a routerLink="/more">More</a>
            </div>
          </div>
          <!-- Left Sidebar: Compose Tweet Button -->
          <div class="mt-8 flex">
            <button class="w-full bg-blue-700 rounded-full px-12 py-3">Tweet</button>
          </div>
        </div>
      </div>
      <!-- Outer Grid: Right Side -->
      <div class="col-span-19 sm:border-l dark:border-gray-700 h-full">
        <!-- Inner Grid -->
        <div class="grid grid-cols-12 h-full">
          <!-- Inner Grid: Main -->
          <div class="sm:col-span-7 sm:border-r dark:border-gray-700 h-full">
            <!-- Main: Title Bar -->
            <div class="text-xl font-bold px-3 py-3 flex dark:border-gray-700 border-b">
              <div class="block sm:hidden mr-6 w-6 h-6 bg-blue-700"></div>
              <div class="flex flex-grow justify-between">
                <span>Home</span>
                <div class="w-6 h-6 bg-blue-700"></div>
              </div>
            </div>
            <!-- Main: Compose Tweet Form -->
            <div class="px-3 py-3 dark:border-gray-700 border-b">
              <div class="flex space-x-2">
                <div>
                  <div class="w-14 h-14 bg-blue-700"></div>
                </div>
                <textarea
                  class="dark:bg-gray-900"
                  name="new"
                  id="new"
                  rows="1"
                  placeholder="What's Happening"
                ></textarea>
              </div>
              <div class="text-right mt-3">
                <button class="bg-blue-700 rounded-full px-6 py-2">Tweet</button>
              </div>
            </div>
            <!-- Main: Spacer -->
            <div class="dark:border-gray-700 border-b dark:bg-gray-800 py-1"></div>
            <!-- Main: List of Tweets -->
            <div class="flex flex-col">
              <!-- List of Tweets: Item -->
              <div
                class="flex justify-between items-center dark:border-gray-700 dark:hover:bg-gray-800 border-b py-6 px-4"
              >
                <div>
                  <div class="w-12 h-12 bg-blue-700 mr-3"></div>
                </div>
                <div class="flex-grow">
                  <div class="flex space-x-1 items-center">
                    <div class="text-white font-semibold">Nx DevTools</div>
                    <div class="text-sm dark:text-gray-400 text-xs">@NxDevTools</div>
                    <div class="text-sm dark:text-gray-400 text-xs">&middot;</div>
                    <div class="text-sm dark:text-gray-400 text-xs">3 minutes ago</div>
                  </div>
                  <div class="text-white">
                    Nx releases version 11 of <a href="" class="text-blue-500">@NxDevTools</a>! Go check it out!
                  </div>
                </div>
              </div>
              <!-- List of Tweets: Item -->
              <div
                class="flex justify-between items-center dark:border-gray-700 dark:hover:bg-gray-800 border-b py-6 px-4"
              >
                <div>
                  <div class="w-12 h-12 bg-blue-700 mr-3"></div>
                </div>
                <div class="flex-grow">
                  <div class="flex space-x-1 items-center">
                    <div class="text-white font-semibold">Tailwind Labs</div>
                    <div class="text-sm dark:text-gray-400 text-xs">@TailwindCSS</div>
                    <div class="text-sm dark:text-gray-400 text-xs">&middot;</div>
                    <div class="text-sm dark:text-gray-400 text-xs">6 minutes ago</div>
                  </div>
                  <div class="text-white">Tailwind CSS Takes Over the World!</div>
                </div>
              </div>
              <!-- List of Tweets: Item -->
              <div
                class="flex justify-between items-center dark:border-gray-700 dark:hover:bg-gray-800 border-b py-6 px-4"
              >
                <div>
                  <div class="w-12 h-12 bg-blue-700 mr-3"></div>
                </div>
                <div class="flex-grow">
                  <div class="flex space-x-1 items-center">
                    <div class="text-white font-semibold">Nx DevTools</div>
                    <div class="text-sm dark:text-gray-400 text-xs">@NxDevTools</div>
                    <div class="text-sm dark:text-gray-400 text-xs">&middot;</div>
                    <div class="text-sm dark:text-gray-400 text-xs">3 minutes ago</div>
                  </div>
                  <div class="text-white">
                    Nx releases version 11 of <a href="" class="text-blue-500">@NxDevTools</a>! Go check it out!
                  </div>
                </div>
              </div>
              <!-- List of Tweets: Item -->
              <div
                class="flex justify-between items-center dark:border-gray-700 dark:hover:bg-gray-800 border-b py-6 px-4"
              >
                <div>
                  <div class="w-12 h-12 bg-blue-700 mr-3"></div>
                </div>
                <div class="flex-grow">
                  <div class="flex space-x-1 items-center">
                    <div class="text-white font-semibold">Tailwind Labs</div>
                    <div class="text-sm dark:text-gray-400 text-xs">@TailwindCSS</div>
                    <div class="text-sm dark:text-gray-400 text-xs">&middot;</div>
                    <div class="text-sm dark:text-gray-400 text-xs">6 minutes ago</div>
                  </div>
                  <div class="text-white">Tailwind CSS Takes Over the World!</div>
                </div>
              </div>
              <!-- List of Tweets: Item -->
              <div
                class="flex justify-between items-center dark:border-gray-700 dark:hover:bg-gray-800 border-b py-6 px-4"
              >
                <div>
                  <div class="w-12 h-12 bg-blue-700 mr-3"></div>
                </div>
                <div class="flex-grow">
                  <div class="flex space-x-1 items-center">
                    <div class="text-white font-semibold">Nx DevTools</div>
                    <div class="text-sm dark:text-gray-400 text-xs">@NxDevTools</div>
                    <div class="text-sm dark:text-gray-400 text-xs">&middot;</div>
                    <div class="text-sm dark:text-gray-400 text-xs">3 minutes ago</div>
                  </div>
                  <div class="text-white">
                    Nx releases version 11 of <a href="" class="text-blue-500">@NxDevTools</a>! Go check it out!
                  </div>
                </div>
              </div>
              <!-- List of Tweets: Item -->
              <div
                class="flex justify-between items-center dark:border-gray-700 dark:hover:bg-gray-800 border-b py-6 px-4"
              >
                <div>
                  <div class="w-12 h-12 bg-blue-700 mr-3"></div>
                </div>
                <div class="flex-grow">
                  <div class="flex space-x-1 items-center">
                    <div class="text-white font-semibold">Tailwind Labs</div>
                    <div class="text-sm dark:text-gray-400 text-xs">@TailwindCSS</div>
                    <div class="text-sm dark:text-gray-400 text-xs">&middot;</div>
                    <div class="text-sm dark:text-gray-400 text-xs">6 minutes ago</div>
                  </div>
                  <div class="text-white">Tailwind CSS Takes Over the World!</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Inner Grid: Right Sidebar -->
          <div class="col-span-5 hidden sm:block pl-11 pr-6 pt-2">
            <!-- Right Sidebar: Search Box -->
            <div>
              <input placeholder="Search Twitter" class="w-full bg-blue-700 rounded-full px-12 py-2 dark:bg-gray-800" />
            </div>
            <!-- Right Sidebar: Block -->
            <div class="mt-4">
              <div class="dark:bg-gray-800 rounded-2xl">
                <!-- What's Happening: Header -->
                <div class="font-semibold text-lg p-3">What's happening</div>
                <!-- What's Happening: Item -->
                <div class="dark:border-gray-700 border-t p-3">
                  <div class="text-sm dark:text-gray-400 text-xs">Software Development &middot; 3 hours ago</div>
                  <div class="text-white font-semibold mb-2">Tailwind CSS Takes Over the World!</div>
                  <div class="text-sm dark:text-gray-400 text-xs">
                    Tending with <a href="" class="text-blue-500">Code</a>
                  </div>
                </div>
                <!-- What's Happening: Item -->
                <div class="dark:border-gray-700 border-t p-3">
                  <div class="text-sm dark:text-gray-400 text-xs">Software Development &middot; 3 hours ago</div>
                  <div class="text-white font-semibold mb-2">
                    Nx releases version 11 of <a href="" class="text-blue-500">@NxDevTools</a>
                  </div>
                  <div class="text-sm dark:text-gray-400 text-xs">
                    Tending with <a href="" class="text-blue-500">Code</a>
                  </div>
                </div>
                <!-- What's Happening: Footer -->
                <div class="dark:border-gray-700 border-t p-3">
                  <a class="text-blue-500" href=""> Show more </a>
                </div>
              </div>
            </div>
            <!-- Right Sidebar: Block -->
            <div class="mt-4">
              <div class="dark:bg-gray-800 rounded-2xl">
                <!-- Who to Follow: Header -->
                <div class="font-semibold text-lg p-3">Who to Follow</div>
                <div class="dark:border-gray-700 border-t p-3">
                  <!-- Who to Follow: Item -->
                  <div class="flex justify-between items-center py-3">
                    <div>
                      <div class="w-12 h-12 bg-blue-700 mr-3"></div>
                    </div>
                    <div class="flex-grow">
                      <div class="text-white font-semibold">Nx DevTools</div>
                      <div class="text-sm dark:text-gray-400 text-xs">@NxDevTools</div>
                    </div>
                    <div class="text-right">
                      <button class="border border-blue-700 text-blue-700 font-semibold rounded-full px-3 py-1">
                        Follow
                      </button>
                    </div>
                  </div>
                  <!-- Who to Follow: Item -->
                  <div class="flex justify-between items-center py-3">
                    <div>
                      <div class="w-12 h-12 bg-blue-700 mr-3"></div>
                    </div>
                    <div class="flex-grow">
                      <div class="text-white font-semibold">BeeSoft Labs</div>
                      <div class="text-sm dark:text-gray-400 text-xs">@BeeSoftLabs</div>
                    </div>
                    <div class="text-right">
                      <button class="border border-blue-700 text-blue-700 font-semibold rounded-full px-3 py-1">
                        Follow
                      </button>
                    </div>
                  </div>
                  <!-- Who to Follow: Item -->
                  <div class="flex justify-between items-center py-3">
                    <div>
                      <div class="w-12 h-12 bg-blue-700 mr-3"></div>
                    </div>
                    <div class="flex-grow">
                      <div class="text-white font-semibold">Connect a Mind</div>
                      <div class="text-sm dark:text-gray-400 text-xs">@connectamind</div>
                    </div>
                    <div class="text-right">
                      <button class="border border-blue-700 text-blue-700 font-semibold rounded-full px-3 py-1">
                        Follow
                      </button>
                    </div>
                  </div>
                </div>
                <!-- Who to Follow: Footer -->
                <div class="dark:border-gray-700 border-t p-3">
                  <a class="text-blue-500" href=""> Show more </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
